# Assingment - Python Foundation

In [1]:
import numpy as np
import pandas as pd
from math import pi
from collections import Counter

Q1: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [27]:
user_input = input('Please enter a number : ')
try:
    user_input2 = int(user_input)
    if (user_input2 % 2) ==  0:
        print('Number is even')
    else:
        print('Number is odd')
except: 
    print('Please enter a integer value! for e.g 2,1,44,32,21')

Please enter a number : 21
Number is odd

Q2: Write a program to display the table by taking the number as input.

In [51]:
user_input = input('Please enter a number : ')
try:
    user_input2 = int(user_input)
    print(f"Writing table of {user_input2}")
    for i in range(1,11):
        print(f"{user_input2} * {i} = {user_input2 * i}")
except:
    print('Please enter a integer value! for e.g = 1,2,4,3,5,21')

Please enter a number : 12
Writing table of 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

Q3: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5. Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [62]:
output = ''
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        output += str(i) + ','
print(output.rstrip(','))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q4: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [102]:
user_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

dtype_counts = Counter(type(x) for x in user_list)
print(dtype_counts)

Q5 Add all values from the list with numeric datatypes.

In [113]:
user_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
user_result = 0
for x in user_list:
    if isinstance(x,int) and not isinstance(x,bool):
        user_result += x
print(user_result)

16

Q6: Concat all str datatypes with hyphen as a delimiter.

In [124]:
user_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
concat_str = ''
for x in user_list:
    if isinstance(x,str):
        concat_str = f"{concat_str}-{x}"
print(concat_str.lstrip(' -'))

Py-10-SQL-John

Q7 Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str

In [132]:
def my_func(x):
    sum_int = 0
    count_str = 0
    for i in x:
        if isinstance(i,int) and not isinstance(i,bool):
            sum_int += i
        elif isinstance(i,str):
            count_str += 1
    print(f"Sum_int is {sum_int} , Count_Str is {count_str}")

user_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
my_func(user_list)

Sum_int is 16 , Count_Str is 4

Q8: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
    ii. Use list comprehensions

In [144]:
#user loops to get the answer

In [147]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list = []
for i in li:
    if i % 2 != 0:
        new_list.append(i)
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

In [136]:
#list comprehension

In [149]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list = [i for i in li if i % 2 != 0]
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

Q9: Write a UDF to return the descriptives [sum, count, min, mean, max] for the n number of input numbers.

In [167]:
def des(*num):
    sum_result = np.sum(num)
    count_result = np.count_nonzero(num)
    min_result = np.min(num)
    mean_result = np.mean(num)
    max_result = np.max(num)
    val_result = np.size(num)
    
    print(f"Sum : {sum_result}, Min : {min_result}, Mean : {mean_result}, Max : {max_result}, TotalValues : {val_result}")

In [168]:
des(1,2,3,4,5,6,7)

Sum : 28, Min : 1, Mean : 4.0, Max : 7, TotalValues : 7

Q10: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [184]:
def area(shape,**kwargs):
    area = 0
    if shape == 'square':
        area = kwargs['side'] * kwargs['side']
    elif shape == 'rectangle':
        area = kwargs['length'] * kwargs['width']
    elif shape == 'circle':
        area = pi * (kwargs['radius'] **2)
    return area

In [185]:
area('square',side = 2)

4

In [186]:
area('rectangle',length = 12,width = 21)

252

In [189]:
area('circle',radius = 5)

78.53981633974483

Q11: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [205]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
def recon_fun(l1,l2):
    matching = sorted(list(set(l1) & set(l2)))
    onlyl1 = sorted(list(set(l1) - set(l2)))
    onlyl2 = sorted(list(set(l2) - set(l1)))
    output = {'Matched' : matching, 'Only in L1' : onlyl1, 'Only in L2' : onlyl2}
    return output